* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
}

.leftNav {
  width: 20%;
  height: 100%;
  background-color: rgb(5, 5, 52);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.leftNav img {
  width: 180px;
}

.leftNav2 {
  display: flex;
  flex-direction: column;
}

.profile {
  width: 170px;
  height: 170px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 50%;
}

.leftNav3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftNav3 button {
  padding: 7px 35px;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(5, 5, 52);
  background-color: white;
  border: none;
  margin-top: 7px;
}

.rightNav {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #aea6a639;
}

.rightNavContent {
  width: 100%;
}

.navRows {
  width: 100%;
  height: 76px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navRows button {
  padding: 13px 35px;
  background-color: rgb(5, 5, 52);
  cursor: pointer;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: none;
}

.LastRow {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.LastRow input {
  height: 60px;
  width: 80%;
  padding: 20px;
  outline: none;
  border: none;
}

.LastRow input::placeholder {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  color: rgba(105, 104, 104, 0.297);
}

.LastRow button {
  padding: 13px 35px;
  background-color: rgb(5, 5, 52);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}
